<div class="container my-4 ">

    <div class="border border-light p-3 mb-4">
        <p class="text-center font-weight-bold">Edit Brand</p>
        <form   class="form-group" #myForm="ngForm" (ngSubmit)="Update()" novalidate>
          <label for="" mt-3 >Category Name</label>
          <select name="select"  class="form-control" [(ngModel)]="brandObj.categoryId">
            <option  disabled selected> Select Category</option>
           <option *ngFor="let cat of categories"  [ngValue]= "cat.id" >{{cat.categoryName}}</option>
          </select>
              
                <label for="" mt-3 >Brand Name</label>
              
            <input type="text" value="{{brandObj.brandName}}" [(ngModel)]="brandObj.brandName" 
            class="form-control" name="brandname" >

                  <label for="" mt-3 >Brand Code</label>
                  <input
                   type="text" 
                   ngValue="brandObj.code"
                   required
                    minlength="3" 
                    maxlength="20" 
                     [(ngModel)]="brandObj.code" 
                     name="code" 
                     class="form-control" 
                     >
                           
                <label for="" class="mt-3 mr-3">Is Active</label>
                <input  [(ngModel)]="brandObj.isActive"  type="checkbox" name="isActive" ><br>

            <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary mt-3">Update Brand</button>
        </form>
      </div>
</div>