<div class="container my-4 "> 

    <div class="border border-light p-3 mb-4">
        <p class="text-center font-weight-bold">Edit Products</p>
        <form (ngSubmit)="Update()"  class="form-group" novalidate>
            <label for="" mt-3 >Product Name</label>
            <input
            value=""
            [ngModelOptions]="{standalone: true}"
             type="text" 
               name="name" 
               class="form-control"
               [(ngModel)]="productObj.productName" 
               >
               <label for="" mt-3 >Category Name</label>
               <select name="select"  class="form-control" [(ngModel)]="productObj.categoryId">
                 <option  disabled selected> Select Category</option>
                <option *ngFor="let cat of categories"  [ngValue]= "cat.id" >{{cat.categoryName}}</option>
               </select>

            <label for="" class="mt-3" >Brand</label>
            <select name="brand"  class="form-control"  [(ngModel)]="productObj.brandId" [ngModelOptions]="{standalone: true}">
               <option *ngFor="let bar of brand"  [ngValue]="bar.id">{{bar.brandName}}</option>
            </select>

            <label for="" mt-3 >Price</label>
            <input
            [ngModelOptions]="{standalone: true}"
             type="number" 
               name="name" 
               class="form-control" 
               [(ngModel)]="productObj.price"
               >

            <label for=""  class="mt-3 mr-3">Is Active</label>
            <input  [(ngModel)]="productObj.isActive"  type="checkbox" name="isActive" [ngModelOptions]="{standalone: true}"><br>
            <button type="submit"  class="btn btn-primary mt-3">Update Product</button>
        </form>
      </div>
</div> 