<div class="container">
<a class="btn btn-primary mb-3 "  [routerLink]="'/add-brand'" >Add brand</a>

<table class="table ">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name of Brand</th>
    <th scope="col">Category Name</th>
    <th scope="col">Code</th>
    <th scope="col">Action?</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let brand of categories; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ brand.brandName }}</td>
    <td>{{brand.categoryName}}</td>
    <td>{{ brand.code }}</td>
    <td>
      <a class="badge badge-warning" routerLink="/edit-brand/{{ brand.id }}">
        Edit
      </a>
        
          <button class="badge badge-danger ml-2" (click)="Delete(brand)"> Remove </button>
    </td>
  </tr>
  </tbody>
</table>
</div>